.preference-title {
  font-weight: bold;
}

.toggle-switch-container {
  font-weight: normal;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  cursor: pointer;
  border-radius: 25px;
}

.toggle-control {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  background-color: white;
  border-radius: 50%;
  transition: .5s;
}

input:checked + .toggle>.toggle-control {
  transform: translateX(15px) rotate(0.5turn);
}
