.node {
  display: inline-block;
  border-radius: 15px;
  border: 2px solid;
  padding: 5px;
}

.name,
.node-name,
.name-edit {
  display: inline-block;
}

.name-edit {
  display: inline-block;
  margin: auto 10px;
}

.node button {
  padding: 5px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.node button:hover {
  background-color: #ccc;
}

#submit-name:hover {
  color: green;
}

#delete {
  float: right;
}

#delete:hover,
#cancel:hover {
  color: red;
}
