.treegui-container {
  background-color: #ffffff;
  display: flex;
  justify-content: safe space-around;
}

.node-container {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.treegui-container > .node-container {
  padding-top: 5px;
}

.node-container:only-child {
  padding-left: 0;
  padding-right: 0;
}

.node-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
