.treegui-container {
  background-color: #ffffff;
  display: flex;
  justify-content: safe space-around;
}

.node-container {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.node-container:only-child {
  padding-left: 0;
  padding-right: 0;
}

.node-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.node {
  display: inline-block;
  border-radius: 15px;
  border: 2px solid;
  padding: 5px;
}

.node-name {
  display: inline-block;
}

.node button {
  padding: 5px;
  background-color: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.node button:hover {
  background-color: #ccc;
}

#delete {
  float: right;
}

#delete:hover {
  color: red;
}
