.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #010203;
  padding: 0;
}

.navbar button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-button {
  float: left;
  padding: 5px 10px;
  color: #018141;
  font-size: 20px;
}

.github {
  float: right;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #018141;
  color: #010203;
}

.modal {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  overflow: auto;
  position: relative;
  width: 50%;
  height: 50%;
  margin: 5% auto;
  background-color: #00c060;
}

#close {
  float: right;
  padding: 5px;
  font-size: 1.2em;
}

.content {
  text-align: justify;
  padding: 20px;
}
